.footer
  .footer__box
    %ul.contents
      %h11.title FURIMAについて
      %li.content
        = link_to "#",class: "a" do
          会社概要(運営会社)
      %li.content
        = link_to "#",class: "a" do
          プライバシーポリシー
      %li.content
        = link_to "#",class: "a" do
          FURIMA利用規約
      %li.content
        = link_to "#",class: "a" do
          ポイントに関する特約
    %ul.contents
      %h11.title FURIMAを見る
      %li.content
        = link_to "#",class: "a" do
          カテゴリー一覧
      %li.content
        = link_to "#",class: "a" do
          ブランド一覧
    %ul.contents
      %h11.title ヘルプ&ガイド
      %li.content
        = link_to "#",class: "a" do
          FURIMAガイド
      %li.content
        = link_to "#",class: "a" do
          FURIMAロゴ利用ガイドライン
      %li.content
        = link_to "#",class: "a" do
          お知らせ
  .footer__logo
    = image_tag 'logo-white.png', alt: 'logo', height: '46', width: '160', class: ''
    .footer__logo__text
      ＠FURIMA
      
  -# = button_tag type: 'submit', class: 'btn' do
  -#   出品する
  -#   = image_tag 'icon_camera.png', alt: 'img', class: 'btn__img',height: '60%', width: '65%'

.newForm_btn
  - if user_signed_in?
    =link_to new_item_path do
      .newForm_btn__content
        .newForm_btn__content--text
          出品する
        = image_tag "icon_camera.png", class:"newForm_btn__content--icon"
  - else  
    =link_to new_user_session_path do
      .newForm_btn__content
        .newForm_btn__content--text
          出品する
        = image_tag "icon_camera.png", class:"newForm_btn__content--icon"