.header
  .header__inner
    .main
      .main__icon
        = link_to '#' do
          = image_tag 'logo.png', alt: 'Logo', class: 'main__icon--img'
      .main__sarch
        .main__sarch__input
          = form_for '#' do |f|
            = f.text_field :content, class: 'main__sarch__input--text', placeholder: 'キーワードから探す'
        = button_tag :submit, class: 'main__sarch__submit' do
          = image_tag 'icon-search 1.png', alt: 'img', class: 'main__sarch__submit--btn'
    .nav
      %ul.nav__left
        %li.nav__left--first
          カテゴリー
        %li.nav__left--second
          = link_to '#' , class: 'a' do
            ブランド
      %ul.nav__right
        %li.nav__right--first
          = link_to '#' , class: 'a' do
            ログイン
        %li.nav__right--second
          = link_to '#' , class: 'a' do
            新規会員登録