

.headers
  = image_tag "logo.png",width: "200",height:"100"
.conten
  .conten__main
    .conten__main--box
      .conten__main--name
        nickname
        様のマイページ
        -# current_useridで呼ぶ
      .conten__main__link
        = link_to "#", class: "link-text" do
          ログアウト
          = icon('fas', 'running', class: 'icon')
  .conten__sabu
    .conten__sabu__box
      .conten__sabu__box__cade
        .conten__sabu__box__cade__title
          %i.far.fa-credit-card
            クレジットカード
        .conten__sabu__box__cade__btn   
          = link_to "#", class: "A" do
            登録
          -# cade.html.haml
          %br
          = link_to "#", class: "A" do
            変更