.footer
  .footer__box
    %ul.contents
      %h11.title FURIMAについて
      %li.content
        = link_to "#",class: "a" do
          会社概要(運営会社)
      %li.content
        = link_to "#",class: "a" do
          プライバシーポリシー
      %li.content
        = link_to "#",class: "a" do
          FURIMA利用規約
      %li.content
        = link_to "#",class: "a" do
          ポイントに関する特約
    %ul.contents
      %h11.title FURIMAを見る
      %li.content
        = link_to "#",class: "a" do
          カテゴリー一覧
      %li.content
        = link_to "#",class: "a" do
          ブランド一覧
    %ul.contents
      %h11.title ヘルプ&ガイド
      %li.content
        = link_to "#",class: "a" do
          FURIMAガイド
      %li.content
        = link_to "#",class: "a" do
          FURIMAロゴ利用ガイドライン
      %li.content
        = link_to "#",class: "a" do
          お知らせ
  .footer__logo
    = image_tag 'logo-white.png', alt: 'logo', height: '46', width: '160', class: ''
    .footer__logo__text
      ＠FURIMA
      
