.header
  .header__inner
    .main
      .main__icon
        = link_to items_path do
          = image_tag 'logo.png', alt: 'Logo', class: 'main__icon--img'
      .main__sarch
        .main__sarch__input
          = form_for '#' do |f|
            = f.text_field :content, class: 'main__sarch__input--text', placeholder: 'キーワードから探す'
        = button_tag :submit, class: 'main__sarch__submit' do
          = image_tag 'icon-search 1.png', alt: 'img', class: 'main__sarch__submit--btn'
    .nav
      %ul.nav__right.ul_Nav
      - if user_signed_in?
        %li.nav__right--first.ul_Nav
          = link_to  destroy_user_session_path, class: 'a', method: :delete do
            %i.fas.fa-sign-out-alt
            ログアウト
        %li.nav__right--second.ul_Nav
          = link_to user_path(current_user) , class: 'a' do
            %i.fas.fa-user-cog
            マイページ      
      - else
        %li.nav__right--first.ul_Nav
          = link_to  user_session_path, class: 'a' do
            %i.fas.fa-sign-in-alt
            ログイン
        %li.nav__right--second.ul_Nav
          = link_to step1_signup_index_path , class: 'a' do
            %i.fas.fa-user-plus
            新規会員登録
