.main
  .main__box1
    .main__box1__content
      .main__box1__content__title
        %h1.title 人生を変えるフリマアプリ
      .main__box1__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .main__box1__content__btn
        = link_to '#' do
          = image_tag 'apple.png', alt: 'logo', height: '100%', width: '100%', class: 'main__box1__content__btn__app'
        = link_to '#' do
          = image_tag 'google.png', alt: 'logo', height: '100%', width: '100%', class: 'main__box1__content__btn__google'
  .main__box2
    .main__box2__contents
      .main__box2__contents__title
        FURIMAが選ばれる3つの理由
      .main__box2__contents__content
        %ul.list
          %li.image
            = image_tag 'pict-reason-01.png', alt: 'logo', height: '100%', width: '100%', class: ''
            .number
              1
          %li.text
            %span.span 3分
            ですぐに出品
          %li.comment
            スマホで入力するだけで簡単に出品できる！
        %ul.list
          %li.image
            = image_tag 'pict-reason-02.png', alt: 'logo', height: '100%', width: '100%', class: ''
            .number
              2
          %li.text
            %span.span シンプル
            で使いやすい
          %li.comment
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        %ul.list
          %li.image
            = image_tag 'pict-reason-03.png', alt: 'logo', height: '100%', width: '100%', class: ''
            .number
              3
          %li.text
            手数料
            %span.span 業界最安
          %li.comment
            最大3%でお得に出品&購入！
  .main__box3
    .main__box3__content
      .main__box3__content__title
        会員数日本一位
      .main__box3__content__text
        FURIMAFURIMAは、FURIMAは、フリマアプリで最も人気
        %br 出品・購入回数も業界最多です！
        ほしかったあの商品に出会えるかもしれません。
      .main__box3__content__btn
        .main__box3__content__btn__app
          = link_to '#' do
            = image_tag 'apple.png', alt: 'logo', height: '100%', width: '100%', class: 'main__box1__content__btn__app'  
        .main__box3__content__btn__google
          = link_to '#' do
            = image_tag 'google.png', alt: 'logo', height: '100%', width: '100%', class: ''
  .main__box4
    .main__box4__contents
      .main__box4__contents__title
        FURIMAの特徴
      .main__box4__contents__content
        %ul.list
          %li.image
            = image_tag 'icon-01.png', alt: '', height: '100%', width: '100%', class: ''
          %li.text
            簡単に売り買いできる
          %li.comment
            スマホひとつで、いつでもどこでも簡単に出品、購入が可能
        %ul.list
          %li.image
            = image_tag 'icon-03.png', alt: '', height: '100%', width: '100%', class: ''
          %li.text
            売上金は即日振り込みに対応
          %li.comment
            午後９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
        %ul.list
          %li.image
            = image_tag 'icon-04.png', alt: '', height: '100%', width: '100%', class: ''
          %li.text
            様々な支払いに対応
          %li.comment
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .main__box5
    .inner
      .header
        .header__title
          ピックアップカテゴリー
        .header__text
          新規投稿商品
    %ul.List      
      - @items.each do |item|
        %li.First
          = link_to item_path(item), class: 'a' do
            .img
              = image_tag "#{item.images.first.image}",class:"pic_up_container__products__box--image"
            .info
              .info__left
                .info__left--name
                  = item.name
                .info__left--price
                  = item.price
                  円
                .info__left--tax-in
                  （税込み）
              .info__right
                ★ 2
        
  .main__box6
    .inner
      .header
        .header__title
          ピックアップアイテム
        .header__text
          注目商品
    %ul.List
      - @recommend.each do |reco|
        %li.First
          = link_to '#', class: 'a' do
            .img
              = image_tag "#{reco.images.first.image}",class:"pic_up_container__products__box--image"
            .info
              .info__left
                .info__left--name
                  = reco.name
                .info__left--price
                  = reco.price
                .info__left--tax-in
                  （税込み）
              .info__right
                ★ 4
