.new
  = form_with model: @item, locale: true , class: 'new_item' do |f|
    .new-top
      = f.fields_for :images do |c|
        %ul.new-top__photo
          %li.new-top__photo__show
            = c.label :images, class: 'new-top__photo__show--image' do
              .new-top__photo__show--image--file_field 
                = c.file_field :images, multiple: true, class: 'new-top__photo__show--image--file_field--file', style: 'display: none;'   
              = icon('fas','camera', class:"new-top__photo__show--image--icon")
          %li.new-top__photo__show
            = c.label :images, class: 'new-top__photo__show--image' do
              .new-top__photo__show--image--file_field 
                = c.file_field :images, multiple: true, class: 'new-top__photo__show--image--file_field--file', style: 'display: none;'   
              = icon('fas','camera', class:"new-top__photo__show--image--icon")
          %li.new-top__photo__show
            = c.label :images, class: 'new-top__photo__show--image' do
              .new-top__photo__show--image--file_field 
                = c.file_field :images, multiple: true, class: 'new-top__photo__show--image--file_field--file', style: 'display: none;'   
              = icon('fas','camera', class:"new-top__photo__show--image--icon")
          %li.new-top__photo__show
            = c.label :images, class: 'new-top__photo__show--image' do
              .new-top__photo__show--image--file_field 
                = c.file_field :images, multiple: true, class: 'new-top__photo__show--image--file_field--file', style: 'display: none;'   
              = icon('fas','camera', class:"new-top__photo__show--image--icon")
          
    .new-main
      .new-main__name
        .new-main__name--title
          商品名
          %span.important ※必須
        .new-main__name--detail
          = f.text_field :name, { class:'new-main__name--detail', placeholder: '40文字まで' }

      .new-main__content.new-main__name
        .new-main__content--title.new-main__name--title
          商品説明
          %span.important ※必須        
        .new-main__content--detail.new-main__name--detail
          = f.text_area :content, { class:'new-main__content--detail new-main__name--detail', placeholder: '・色・素材・重さ・定価・注意点などを記載しましょう'}

      .new-main__category.new-main__name
        .new-main__name--title
          カテゴリ
          %span.important ※必須
        .new-main__name--detail
          = f.text_field :category, { class:'new-main__name--detail', placeholder: '指定なし' }

      .new-main__state.new-main__name
        .new-main__name--title
          商品の状態
          %span.important ※必須
        .new-main__name--detail
          = f.text_field :state, { class:'new-main__name--detail', placeholder: '新品、未使用' }      
   
      .new-main__postage.new-main__name
        .new-main__name--title
          配送料金
          %span.important ※必須
        .new-main__name--detail
          = f.text_field :postage, { class:'new-main__name--detail', placeholder: '８００円' }
             
      .new-main__shipping-date.new-main__name
        .new-main__name--title
          配送までの日数
          %span.important ※必須
        .new-main__name--detail
          = f.collection_select :shipping_id,  Shipping.all, :id, :duration, {}, { class: 'new-main__name--detail--prefecture' }

      .new-main__region.new-main__name
        .new-main__name--title
          配送元の地域
          %span.important ※必須
        .new-main__name--detail
          = f.collection_select :prefecture_id,  Prefecture.all, :id, :name, {}, { class: 'new-main__name--detail--prefecture' }

      .new-main__submit
        = f.submit '出品する', class: 'new-main__submit--btn'
        
