.show
  = render "header"
  .header
    %ul.lists
      %li.list
        = link_to root_path do
          FURIMA
      %li.list
        %i
          = icon('fa', 'angle-right')
      %li.list
        = link_to "#" do
          = @category.root.name
      %li.list
        %i
          = icon('fa', 'angle-right')
      %li.list
        = link_to "#" do
          = @category.parent.name
      %li.list
        %i
          = icon('fa', 'angle-right') 
      %li.list
        = link_to "#" do
          = @category.name
      %li.list
        %i
          = icon('fa', 'angle-right') 
      %li.list
        %p 
          = @item.name  
  .main
    .main__box
      .main__box__contents
        .main__box__contents__top
          .main__box__contents__top__images
            .main__box__contents__top__images__title
              = @item.name
            .main__box__contents__top__images__image
              %ul.lists-main
                = image_tag "#{@item.images.first.image}",class: 'image'
                %li.list-main
                - @item.images.each do |i|
                  = image_tag "#{i.image}",class: 'image'
          .main__box__contents__top__prices
            .main__box__contents__top__prices__price
              = @item.price
              円
            .main__box__contents__top__prices__tax-text
              (税込み)
          .main__box__contents__top__comment
            = @item.content
          .main__box__contents__top__table
            %table.table
              %tr.tr
                %th.th 出品者
                %td.td
                  = @user.nickname
              %tr.tr
                %th.th カテゴリー
                %td.td
                  = link_to "#",class:'link' do
                    = @category.root.name
                    %br 
                    = @category.parent.name 
                    %br
                    = @category.name
              %tr.tr
                %th.th ブランド
                %td.td
                  = @item.brand
              %tr.tr
                %th.th 商品の状態
                %td.td 
                  = @item.state.condition
              %tr.tr
                %th.th 配送料
                %td.td 
                  = @item.postage
                  円
              %tr.tr
                %th.th 発送元の地域
                %td.td 
                  = @item.prefecture.name
              %tr.tr
                %th.th 発送元の目安
                %td.td 
                  = @item.shipping.duration
          .main__box__contents__top__btns
            %button{type: "button", onClick: "location.href= '#'", class:"favorite"}
              %i.fa.fa-star
              お気に入り 0
            %button{type: "button", onClick: "location.href= '#'", class:"report"}
              %i.fas.fa-flag
              不適切な商品の通報
        .main__box__contents__bottom
          = form_with url: "/", local: true do |f|
            .main__box__contents__bottom__text
              = f.text_area :content, class:'text-area'
              %p.p  
                相手のことを考え丁寧なコメントを心がけましょう。
                %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .main__box__contents__bottom__btns
              %button{type: "submit", class: "submit"}
                %i.fas.fa-comment
                  コメントする
              = link_to purchase_path(@item.id), class: "buy" do
                %i.fas.fa-shopping-cart
                  購入する
        .main__box__contents__links
          .main__box__contents__links__top
            = link_to "#",class:'link' do
              < 前の商品
            = link_to  "#",class:'link' do
              次の商品 >
          .main__box__contents__links__bottom
            = link_to "#",class:'link' do
              メンズをもっとみる
  = render "banner"
  = render "footer"            